<!doctype html>
<html>
  <head>
    <title>Identifikasi Tumbuhan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <div class="card shadow p-4">
        <h3 class="mb-4 text-center">Form Identifikasi Tumbuhan</h3>

        <form action="/submit" method="POST">
          <input type="hidden" name="keperluan" value="Identifikasi Tumbuhan" />

          <div class="row">
            <div class="col-md-6">
              <label>Nama</label>
              <input class="form-control mb-3" name="nama" />

              <label>NPM</label>
              <input class="form-control mb-3" name="npm" />

              <label>Jurusan / Prodi</label>
              <input class="form-control mb-3" name="jurusan" />

              <label>Jenjang Pendidikan</label>
              <input class="form-control mb-3" name="jp" />
            </div>

            <div class="col-md-6">
              <label>Judul Penelitian</label>
              <textarea class="form-control mb-3" name="judul"></textarea>

              <label>Dosen Pembimbing</label>
              <input class="form-control mb-3" name="doping" />

              <label>Nama Tumbuhan</label>
              <input class="form-control mb-3" name="namatumbuhan" />

              <label>Asal Tumbuhan</label>
              <input class="form-control mb-3" name="asaltumbuhan" />
            </div>
          </div>

          <div class="text-center mt-3">
            <button class="btn btn-success px-5">Kirim</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
