<!doctype html>
<html>
  <head>
    <title>Ethical Clearance</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <div class="card shadow p-4">
        <h3 class="mb-4 text-center">Form Ethical Clearance</h3>

        <form action="/submit" method="POST">
          <input type="hidden" name="keperluan" value="Ethical Clearance" />

          <div class="row">
            <div class="col-md-6">
              <label>Nama</label>
              <input class="form-control mb-3" name="nama" />

              <label>NIM</label>
              <input class="form-control mb-3" name="nim" />

              <label>Jurusan</label>
              <input class="form-control mb-3" name="jurusan" />

              <label>Program Studi</label>
              <input class="form-control mb-3" name="prodi" />
            </div>

            <div class="col-md-6">
              <label>Jenjang Pendidikan</label>
              <input class="form-control mb-3" name="jp" />

              <label>Judul Penelitian</label>
              <textarea class="form-control mb-3" name="judul"></textarea>

              <label>Dosen Pembimbing</label>
              <input class="form-control mb-3" name="doping" />
            </div>
          </div>

          <div class="text-center mt-3">
            <button class="btn btn-success px-5">Kirim</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
